.App {
  & {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;

    height: 100%;
  }

  & .title {
    font-size: 74px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 200;

    color: rgba(255, 0, 0, 0.3);
  }

  & .container {
    & {
      width: 95%;
      max-width: 500px;
    }
  }
}

.container .sub-info {
  &,
  & .clear-completed-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: rgba(0, 0, 0, 0.6);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

    border: 1px solid gray;
    border-top: none;

    padding: 7px 5px;
  }

  & .clear-completed-btn {
    border: none;
    background: transparent;

    transition: border 400ms ease;
  }

  & .clear-completed-btn:active {
    border: 1px solid gray;
    border-radius: 10px;
  }

  & .sort-type-toggles-container {
    display: flex;
    gap: 4px;
  }

  & .sort-type-toggles-container button {
    & {
      border: none;
      padding: 4px 6px;

      background-color: transparent;
    }

    &.active {
      border: 1px solid rgba(255, 0, 0, 0.4);
      border-radius: 10px;
    }
  }
}
